// Here you put all global css rules.

body {
    margin: 0;
    padding: 0;
    overflow-y: auto;

    .features {
        height: 100%;
    }

    #root{
        height: 100%;

        section{
            height: 100%;
        }
    }
}

a {
    text-decoration: none;
    background-color: initial;

    &:hover {
        color: #0056b3;
        text-decoration: none;
    }
}

.text-center {
    text-align: center;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-0-360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-360-0 {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
